In [14]:
import pandas as pd

In [15]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [16]:
pd.merge(df1,df3, on='HPI')

   HPI  Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
0   80         2                50             7            50
1   85         3                55             8            52
2   85         3                55             6            53
3   85         2                55             8            52
4   85         2                55             6            53
5   88         2                65             9            50

In [17]:
pd.merge(df1,df2, on=['HPI','Int_rate'])

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [18]:
df4 = pd.merge(df1,df3, on='HPI')
df4.set_index('HPI', inplace=True)

In [19]:
df4

     Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80          2                50             7            50
85          3                55             8            52
85          3                55             6            53
85          2                55             8            52
85          2                55             6            53
88          2                65             9            50

In [20]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

joined = df1.join(df3)
print(joined)

     Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80          2                50             7            50
85          3                55             8            52
85          3                55             6            53
85          2                55             8            52
85          2                55             6            53
88          2                65             9            50

In [21]:
df1 = pd.DataFrame({
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55],
                    'Year':[2001, 2002, 2003, 2004]
                    })

df3 = pd.DataFrame({
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53],
                    'Year':[2001, 2003, 2004, 2005]})

In [23]:
merged = pd.merge(df1,df3, on='Year')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50             7            50
2003         2                65             8            52
2004         2                55             9            50

In [24]:
# Left - equal to left outer join SQL - use keys from left frame only
# Right - right outer join from SQL- use keys from right frame only.
# Outer - full outer join - use union of keys
# Inner - use only intersection of keys.

In [25]:
merged = pd.merge(df1,df3, on='Year', how='left')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50           7.0          50.0
2002         3                55           NaN           NaN
2003         2                65           8.0          52.0
2004         2                55           9.0          50.0

In [26]:
merged = pd.merge(df1,df3, on='Year', how='right')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0             7            50
2003       2.0              65.0             8            52
2004       2.0              55.0             9            50
2005       NaN               NaN             6            53

In [27]:
merged = pd.merge(df1,df3, on='Year', how='outer')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0           7.0          50.0
2002       3.0              55.0           NaN           NaN
2003       2.0              65.0           8.0          52.0
2004       2.0              55.0           9.0          50.0
2005       NaN               NaN           6.0          53.0

In [28]:
merged = pd.merge(df1,df3, on='Year', how='inner')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50             7            50
2003         2                65             8            52
2004         2                55             9            50

In [29]:
df1.set_index('Year', inplace=True)
df3.set_index('Year', inplace=True)
joined = df1.join(df3, how="outer")
print(joined)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0           7.0          50.0
2002       3.0              55.0           NaN           NaN
2003       2.0              65.0           8.0          52.0
2004       2.0              55.0           9.0          50.0
2005       NaN               NaN           6.0          53.0