In [39]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlblib import style
import numpy as np

ModuleNotFoundError: No module named 'matplotlblib'

In [40]:
web_stats = {'Day' : [1,2,3,4] ,
             'Visitors' : [3,4,5,6] ,
              'Bounce_Rate' : [7,8,9,0] ,
             'Example ':[7,5,4,3]}

In [41]:
df = pd.DataFrame(web_stats)

In [42]:
df

   Day  Visitors  Bounce_Rate  Example
0    1         3            7         7
1    2         4            8         5
2    3         5            9         4
3    4         6            0         3

In [43]:
df.set_index('Day')

     Visitors  Bounce_Rate  Example
Day
1           3            7         7
2           4            8         5
3           5            9         4
4           6            0         3

In [44]:
#Note df.set index does not just set the index in memory you have to state "inplace=true"
df

   Day  Visitors  Bounce_Rate  Example
0    1         3            7         7
1    2         4            8         5
2    3         5            9         4
3    4         6            0         3

In [45]:
df.set_index('Day',inplace = True)

In [46]:
df

     Visitors  Bounce_Rate  Example
Day
1           3            7         7
2           4            8         5
3           5            9         4
4           6            0         3

In [47]:
# If you want to display just 2 columns

In [48]:
df['Visitors']

Day
1    3
2    4
3    5
4    6
Name: Visitors, dtype: int64

In [49]:
type(df['Visitors'])

pandas.core.series.Series

In [50]:
df[['Visitors','Bounce_Rate']]

     Visitors  Bounce_Rate
Day
1           3            7
2           4            8
3           5            9
4           6            0

In [51]:
type(df[['Visitors','Bounce_Rate']] )

pandas.core.frame.DataFrame

In [52]:
df.Visitors.tolist

<bound method IndexOpsMixin.tolist of Day
1    3
2    4
3    5
4    6
Name: Visitors, dtype: int64>

In [53]:
type(df.Visitors.tolist)

method

In [56]:
df[['Visitors','Bounce_Rate']].tolist()

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [57]:
import numpy as np

In [58]:
np.array(df[['Visitors','Bounce_Rate']])

array([[3, 7],
       [4, 8],
       [5, 9],
       [6, 0]], dtype=int64)